<li>
	<div>
		<h3><%= project.name %></h3>
	
		<%= project.description %>
	</div>
	
	<a href="<%= project.project_pictures.primary_pic.photo.url %>" rel="lightbox[<%= project.id %>]">
		<%= image_tag(project.preview_picture.preview_photo.url, :size =>"570x380") %>
	</a>
	
	<% for picture in project.project_pictures.secondary_pics %>
		<a href="<%= picture.photo.url %>" rel="lightbox[<%= picture.project_id %>]"></a>
	<% end %>
</li>