<% content_for :page_stylesheets do %>
	<%= stylesheet_link_tag 'posts' %>
<% end %>

<div id="links_top">
	<%= link_to 'New', new_post_path %>
</div>

<ul id="posts">
<% for @post in @posts %>
	<li>
		<%= truncate(@post.title, 25, "...") %> -- <%= @post.created_at.to_date %> --
		Published? <%= @post.published %> --
		
		<%= link_to 'Show', @post %> |
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>
	</li>
<% end %>
</ul>