<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Graphic Surf</title>
  <%= stylesheet_link_tag 'application', 'lightbox'%>
	<%= @content_for_page_stylesheets %>
	
	<%= javascript_include_tag 'prototype', 'effects', 'builder', 'lightbox', 'application',
	                            :cache => true %>
	
	<!--[if lt IE 7]>
		<script type="text/javascript" src="/javascripts/unitpngfix.js"></script>
	<![endif]--> 
</head>
<body>
	<div id="top_bar"></div>

	<div id="page_wrapper">
		<h1><a href="/">Graphic Surf</a></h1>

		<div id="nav">
			<ul>
				<li id="work"><a href="/">work</a></li>
				<li id="contact">
					<a href="#contact_return" onclick="window.opera ? Element.scrollTo('contact_return') : Effect.ScrollTo('contact_return'); return false;">
						contact
					</a>
				</li>
				<li id="blog"><a href="/blog">blog</a></li>
				<li id="about"><a href="#">about</a></li>
			</ul>
		</div>

		<div id="content">

			<%= yield  %>
			
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="gradient_wrapper">
	  <div id="contact_return">
	    <a href="#top_bar" onclick="window.opera ? Element.scrollTo('top_bar') : Effect.ScrollTo('top_bar'); return false;">
	  	  Return to Top
	  	</a>
	  	<div class="clear"></div>
	  </div>

	  <div id="contact_wrapper">
		  <div id="contact_form">
			  <h4>Contact Me</h4>
				<% form_for :contact, :url => {:controller => 'contacter', :action => 'contact'} do |f| -%>
				  
					<p>
					  <%= f.label :name, 'Name &nbsp' %>
			      <%= f.text_field :name %>
			    </p>
					<p>
						<%= f.label :email, 'Email &nbsp' %>
			    	<%= f.text_field :email %>
			    </p>
					<p>
						<%= f.label :phone, 'Phone &nbsp' %>
			      <%= f.text_field :phone %>
					</p>
					<p id="on_mind">
						<%= f.label :content, "What's on your mind?" %>
			    	<%= f.text_area :content, :size => '36x6' %>
					</p>
			
					<%= image_submit_tag("submit_button.png", :id => "contact_submit", :name => "submit_button", :disabled => false) %>
				<% end -%>
	 	  </div>

		  <div id="contact_info">
				<h5>Graphic Surf</h5>
				
				<p>
					 56 Ruth Way<br />
					 Douglasville, GA 30134
				</p>
				
				<p>
					678.428.1541<br />
					<a href="&#109;&#97;&#105;&#108;&#116;&#111;:&#x61;&#x6C;&#x6F;&#104;&#97;&#x40;&#103;&#x72;&#x61;&#x70;&#104;&#105;&#x63;&#x73;&#117;&#x72;&#x66;&#46;&#x63;&#111;&#x6D;?subject=&#67;&#111;&#110;&#x74;&#x61;&#99;&#116;" title="&#x45;&#109;&#x61;&#105;&#108;&#x20;&#77;&#101;">&#x61;&#108;&#x6F;&#104;&#97;&#x40;&#x67;&#114;&#97;&#x70;&#x68;&#x69;&#x63;&#x73;&#117;&#x72;&#x66;&#46;&#x63;&#111;&#x6D;</a>
				</p>
		  </div>

		  <div class="clear"></div>	
	  </div>
	</div>
</body>
</html>









